<app-menu></app-menu>
<div class="container">


  <h2 style="margin-top: 50px;">GENERAR BOLETA</h2>


  <div class="block-body">
    <form class="form-inline" (submit)="registraBoleta()">

      <div class="form-group">
        servicio
        <select name="account" class="form-control mr-sm-3 " [(ngModel)]="DataBoleta.servicio!.id_servicio">
          <option value="-1">[Seleccione]</option>
          <option *ngFor="let aux of lstServicios" value="{{aux.id_servicio}}">{{aux.descripcion_servicio}} </option>
        </select>
      </div>

      <div class="form-group">
        Departamento - Propietario
        <select name="account" class="form-control mr-sm-3 " [(ngModel)]="DataBoleta.departamento!.id_departamento">
          <option value="-1">[Seleccione]</option>
          <option *ngFor="let aux of lstDepa" value="{{aux.id_departamento}}">{{aux.numero_departamento}} Propietario: {{aux.propietario?.nombre_propietario}}   {{aux.propietario?.apellido_propietario}} </option>
        </select>
      </div>



      <div >
        
        
        <mat-form-field  appearance="fill">
          <mat-label>Año de pago</mat-label>
          <mat-select  [(ngModel)]="DataBoleta.ultimo_Dia_Pago" style="color:aqua ;" name="food">
            <mat-option  *ngFor="let year of years" [value]="year">{{ year }}
            
            </mat-option>
          </mat-select>
        </mat-form-field>
        
    </div>


      <!-- <div class="form-group">

            <select name="account" class="form-control mr-sm-3" [(ngModel)]="registrovisita.departamento!.id_departamento">
                <option value="-1">[Seleccione]</option>
                <option   *ngFor="let aux of lstDepa"  value="{{aux.id_departamento}}" >{{aux.numero_departamento}}</option>
              </select>
          </div>   -->

      <div class="form-group">

        <input type="submit" value="Registrar Boleta" class=" btn btn-primary">
      </div>

    </form>
  </div>

  

  <div class="table-responsive" style="padding-top: 50px;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>

          <th>ID Boleta </th>
          <th>servicio</th>
          <th>departamento</th>
          <th>Propietario</th>
          <th>Ultimo Dia de Pago</th>
          <th>fecha_pago_boleta</th>
          <th>estado boleta</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aux of boletas">


          <th>{{ aux.id_boleta }}</th>
          <th>{{ aux.servicio?.descripcion_servicio }}</th>
          <th>{{ aux.departamento?.numero_departamento }}</th>
          <th>{{ aux.departamento?.propietario?.nombre_propietario }} {{ aux.departamento?.propietario?.apellido_propietario }}</th>
          <th>{{ aux.ultimo_Dia_Pago }}</th>
          <th>{{ aux.fecha_pago_boleta }}</th>
          <th *ngIf=" aux.estado_boleta == 1 ">NO PAGO</th>
          <th *ngIf=" aux.estado_boleta == 2 ">PAGO</th>







        </tr>

      </tbody>
    </table>


  </div>


  <h2 style="margin-top: 50px;">Filtrar Boletas</h2>
  <div class="row" style="height: 80px" >
    <!-- Input para filtrar por Razon Social -->
    <div class="block" >
      
      

       
        <div class="form-group">
            

          <mat-form-field appearance="fill">
            <mat-label>Estado Boleta</mat-label>
            <mat-select [(ngModel)]="estado_boleta" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
  
        <!-- <div class="form-group">
  
              <select name="account" class="form-control mr-sm-3" [(ngModel)]="registrovisita.departamento!.id_departamento">
                  <option value="-1">[Seleccione]</option>
                  <option   *ngFor="let aux of lstDepa"  value="{{aux.id_departamento}}" >{{aux.numero_departamento}}</option>
                </select>
            </div>   -->
            <div class="form-group">
            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>FECHA DE PAGO</mat-label>
                <input matInput [(ngModel)]="fecha_pago_boleta" [matDatepicker]="picker">
                
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
  
              
            </div>
            <div class="form-group">
            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>FECHA DE ULTIMO DIA DE PAGO</mat-label>
                <input matInput [(ngModel)]="ultimo_Dia_Pago" [matDatepicker]="picker2">
                
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
  
              
            </div>

            <div class="form-group">
              servicio
              <select name="account" class="form-control mr-sm-3 " [(ngModel)]="id_servicio">
                <option value="-1">[Seleccione]</option>
                <option *ngFor="let aux of lstServicios" value="{{aux.id_servicio}}">{{aux.descripcion_servicio}} </option>
              </select>
            </div>
      
            <div class="form-group">
              Departamento - Propietario
              <select name="account" class="form-control mr-sm-3 " [(ngModel)]="id_departamento">
                <option value="-1">[Seleccione]</option>
                <option *ngFor="let aux of lstDepa" value="{{aux.id_departamento}}">{{aux.numero_departamento}} Propietario: {{aux.propietario?.nombre_propietario}}   {{aux.propietario?.apellido_propietario}} </option>
              </select>
            </div>


            <div class="form-group">
              <input (click)="consultaBoleta()" style="margin-left: 5px;" value="Filtrar" class=" btn btn-primary">
              
            </div>
    
  </div>

  <div class="table-responsive" style="padding-top: 50px;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>

          <th>Nombre Propietario </th>
          <th>servicio</th>
          <th>departamento</th>
          <th>Ultimo Dia de Pago</th>
          <th>fecha pago boleta</th>
          <th>estado boleta</th>
          <th>Boton</th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aux of Cboletas" >

          
          <th >{{ aux.departamento?.propietario?.nombre_propietario }} {{ aux.departamento?.propietario?.apellido_propietario }}</th>
          <th >{{ aux.servicio?.descripcion_servicio }}</th>
          <th >{{ aux.departamento?.numero_departamento }}</th>
          <th >{{ aux.ultimo_Dia_Pago }}</th>
          <th >{{ aux.fecha_pago_boleta }}</th>
          <th *ngIf="aux.estado_boleta ==1 "> No pago</th>
          <th *ngIf="aux.estado_boleta ==2 "> Pagado</th>
          
          <td *ngIf="aux.estado_boleta ==1 "><button  (click)="actualizaEstado(aux)"  type="button" style="width: 90px" class="btn btn-primary btn-sm" data-toggle='modal' data-target="#exampleModalEliminar">PAGAR BOLETA</button></td>
       





        </tr>

      </tbody>
    </table>


  </div>
</div>